<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <style>
        table, th, td {
            border-collapse: collapse;
            padding: 6px 13px;
            border: 1px solid #dfe2e5
        }
        table{
            width:850px;
        }
</style>
</head>
<body>
<div class="container" style="margin: auto;
                             padding: 80px">
    <table class="table" >
        <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Year</th>
              <th scope="col">Min</th>
              <th scope="col">Max</th>
                <th scope="col">Avg</th>
            </tr>
        </thead>
        <tbody>
        {% for i in context %}
            <tr>
              <td>{{i.Name}}</td>
              <td>{{i.Year}}</td>
              <td>{{i.Result.Min}}</td>
              <td>{{i.Result.Max}}</td>
                <td>{{i.Result.Avg}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


</div>
</body>
</html>